html, body {height: 100%; width: 500px; min-width: 400px; margin:0px !important;}

#header{
  width:100%;
  position: fixed;
  top: 0;
  height: 25px;
  background-color: #777;
  z-index: 1;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;;
}

#content{
  width:100%;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color:#ffffcc;
  position: fixed;
  top:0px;
  bottom:0px;
  overflow: scroll;
}
#status {
  width:100%;
  background-color: #777;
  position: fixed;
  bottom: 0;
  height: 25px;
  z-index: 1;
  overflow: hidden;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
}
#title {
  padding-top: 3px;
  float:left; /* add this */
  width:30%;
  height:100%;
}

p { 
  line-height:18px; 
}
div { 
  margin-left:auto; 
  margin-right:auto;
}

#buttonWrapper{
  overflow: hidden;
  position: relative;
  top: 0; 
  width:70%;
}

#toggleAllBtn{
   margin-top:1px;
  margin-bottom:1px;
  margin-right:2px;
  margin-bottom:1px;
  padding-top: 2px;
  padding-left:3px;
  padding-bottom: 2px;
  float:right; /* add this */
  position: relative;
  top: 0;
  width:30%;
  max-width:100px;
  background-color: #ffffff;
  height:18px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  border-radius: 5px;
     
}


#exportBtn {
  margin-top:1px;
  margin-bottom:1px;
  margin-right:2px;
  margin-bottom:1px;
  padding-top: 2px;
  padding-left:3px;
  padding-bottom: 2px;
  float:right; /* add this */
  position: relative;
  top: 0;
  width:30%;
  max-width:100px;
  background-color: #ffffff;
  height:18px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  border-radius: 5px;
    
}

#clearBtn {
  margin-top:1px;
  margin-bottom:1px;
  margin-right:2px;
  margin-bottom:1px;
  padding-top: 2px;
  padding-left:3px;
  padding-bottom: 2px;
  float:right; /* add this */
  position: relative;
  top: 0;
  width:30%;
  max-width:100px;
  background-color: #ffffff;
  height:18px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  border-radius: 5px;
}

.selected {
    background-color: #cccccc !important; /* Or some other color */
}

